
.noto, 
.noto * { 
    font-family: 'Noto Sans KR', sans-serif;
}
::selection{
    background:#000;
    color:#fff;
}
::-moz-selection{
    background:#000;
    color:#fff;
}
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{
    display:block
}
body{
    line-height:1;
    font-family: 'Pretendard', 'Noto Sans KR', sans-serif;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    scroll-behavior: smooth;
    letter-spacing: -1.3px!important;
}
ol,ul{
    list-style:none
}
blockquote,q{
    quotes:none
}
blockquote:after,
blockquote:before,
q:after,
q:before{
    content:'';
    content:none
}
table{
    border-collapse:collapse;
    border-spacing:0
}

img {
	pointer-events : none;
	-webkit-user-select: none !important;
	-moz-user-select: -moz-none !important;
	-ms-user-select: none !important;
	user-select: none !important;
}
a, button {
    all: unset;
	cursor:pointer;
	color:#424242;
	font-size:16px;
	display:block;
	text-decoration:none;
	background: transparent;
	border:none;
}

select { -webkit-appearance: none; -moz-appearance: none; appearance: none; font-family: 'NanumSquareRound';}
select:focus,
select:active{outline:0;}
select::-ms-expand { display: none; }

input{font-family: 'NanumSquareRound';}
input::placeholder{font-family: 'NanumSquareRound'; font-weight:900; color:#d4d4d4; font-size:14px;}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{border-style:none; -webkit-border-radius:0; -webkit-appearance:none; font-family: 'NanumSquareRound';}
input:focus,
textarea:focus {outline:none;}
