/*platform common*/
.section {
  position: relative;
  width: 100%;
}

.section-wrap {
  padding: 150px 0;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.background-wrap {
  max-width: 100%;
}

#platform .po-sdot {
  position: relative;
}

#platform .po-sdot:before {
  left: 42%;
  top: 0;
}

#platform .po-dot {
  position: relative;
}

#platform .po-dot:before {
  left: 42%;
  top: 0;
}

.title {
  line-height: 1.5;
  font-size: 50px;
  font-weight: bold;
}

.title-sub-text {
  display: block;
  padding: 10px 0 30px;
  line-height: 1.5;
  font-size: 26px;
}

.text {
  line-height: 1.3;
  font-size: 36px;
}

strong.text,
strong.title-sub-text {
  font-weight: bold;
}

.img-area img {
  width: 100%;
}

#platform .mo-img {
  display: none;
  width: 300px;
}

.start-up .start-up-wrap02,
.start-up .start-up-wrap03,
.start-up .start-up-wrap04,
.start-up-cost .cost-wrap01,
.start-up-cost .cost-wrap03,
.start-up-cost .cost-wrap04,
.start-up-contact .contact-wrap01 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/*렌탈창업*/
/*브이알로 렌탈사업 솔루션*/
.start-up .start-up-wrap01 {
  position: relative;
  padding: 240px 0 125px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-up .start-up-wrap01 .title img {
  width: 170px;
  vertical-align: middle;
}

.start-up .start-up-wrap01 .title strong {
  vertical-align: middle;
}

.start-up .bubble-area {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.start-up .bubble-area img:nth-child(1) {
  animation: move 3s ease-in-out infinite;
}

.start-up .bubble-area img:nth-child(2) {
  animation: move-two 3s ease-in-out infinite;
}

.start-up p.text {
  margin: 40px 0;
  line-height: 1.5;
}

/*렌탈사업에 필요한 모든 지원을 받으면서*/
.start-up .start-up-wrap03 {
  background: var(--point-col-op02);
}

.start-up .start-up-wrap03 .po-rectangle {
  font-size: 24px;
}

.start-up .start-up-wrap03 .box-area {
  margin: 50px auto 0;
  max-width: 1200px;
  width: 100%;
}

.start-up .start-up-wrap03 .box-list ul {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.start-up .start-up-wrap03 .box-list .box {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 275px;
  height: 275px;
  background: var(--white);
  box-shadow: 10px 10px 35px var(--darkgray-op20);
}

.start-up .start-up-wrap03 .box-list .box > strong {
  font-weight: bold;
  font-size: 20px;
  color: var(--darkgray);
}

.start-up .start-up-wrap03 .box-list .box > span {
  padding: 10px 0 30px;
  line-height: 1.3;
  font-size: 16px;
  color: var(--darkgray);
}

.start-up .start-up-wrap03 .box-list .box > img {
  width: 40%;
}

/*나만의 노하우로 가전제품렌탈을 소비자에게 판매*/
.start-up .start-up-wrap04 .box-area {
  width: 100%;
}

.start-up .start-up-wrap04 .people-swiper {
  overflow: initial;
}

.start-up .start-up-wrap04 .people-swiper .swiper-wrapper {
  display: flex;
  justify-content: space-between;
}

.start-up .start-up-wrap04 .box-list.swiper-slide {
  width: 48%;
}

.start-up .start-up-wrap04 .box-list .box {
  margin-top: 30px;
  padding: 30px;
  display: flex;
  height: 160px;
  align-items: center;
  box-shadow: 10px 10px 35px var(--darkgray-op20);
  border-radius: 5px;
  box-sizing: border-box;
}

.start-up .start-up-wrap04 .box-list .box .box-text {
  margin-left: 20px;
  text-align: left;
}

.start-up .start-up-wrap04 .box-list .box .box-text > strong {
  display: block;
  font-size: 24px;
  font-weight: bold;
}

.start-up .start-up-wrap04 .box-list .box .box-text > strong > i {
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
}

.start-up .start-up-wrap04 .box-list .box .box-text > span {
  display: inline-block;
  padding-top: 15px;
  line-height: 1.3;
  font-size: 16px;
}

.start-up .start-up-wrap04 .box-list .box .box-img {
  display: flex;
  align-items: flex-end;
  width: 15%;
  background: var(--darkgray-op05);
  border-radius: 100%;
  overflow: hidden;
}

.start-up .start-up-wrap04 .box-list .box .box-img > img {
  width: 100%;
}

/*창업비용*/
/*브이알로 창업비용*/
.start-up-cost .cost-wrap01 .text-zone strong.title-sub-text {
  padding: 30px 0 0 0;
}

.start-up-cost .cost-wrap01 .text-zone p.title-sub-text {
  display: block;
  padding: 50px 0 0 0;
}

.start-up-cost .cost-wrap01 .title-sub-text .po-violet {
  font-weight: bold;
}

/*특장점 point*/
.start-up-cost .cost-wrap02 {
  padding: 60px 0;
  text-align: center;
  background: var(--point-col-op02);
}

.start-up-cost .cost-wrap02 .merits-swiper {
  width: 100%;
}

.start-up-cost .cost-wrap02 .merits-swiper .swiper-slide .title-sub-text {
  padding: 50px 0;
}

.start-up-cost
  .cost-wrap02
  .merits-swiper
  .swiper-slide
  .title-sub-text
  > span {
  font-weight: bold;
}

.start-up-cost .cost-wrap02 .merits-swiper .swiper-scrollbar {
  left: 50%;
  width: 160px;
  height: 3px;
  transform: translateX(-50%);
  border-radius: 0;
}

.start-up-cost .cost-wrap02 .merits-swiper .swiper-scrollbar {
  background: var(--black-op10);
}

.start-up-cost .cost-wrap02 .merits-swiper .swiper-scrollbar-drag {
  background: var(--point-col);
  border-radius: 0;
}

/*프로, 이커머스, 커스텀*/
.start-up-cost .cost-wrap03 .form-area {
  width: 100%;
}

.start-up-cost .cost-wrap03 .form-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.start-up-cost .cost-wrap03 .form-list .form-content {
  margin-bottom: 30px;
  width: 31%;
  min-width: 370px;
}

.start-up-cost .cost-wrap03 .sub-title {
  padding: 30px 0;
  font-weight: bold;
}
.start-up-cost .cost-wrap03 .form-content.pro .sub-title {
  position: relative;
}
.start-up-cost .cost-wrap03 .form-content.pro .sub-title::before {
  content: '추천요금제 \f5a2';
  position: absolute;
  display: inline-block;
  padding: 5px 7px;
  left: 50%;
  top: 0;
  font-family: 'Font Awesome 6 Free', 'Spoqa Han Sans Neo';
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: var(--point-col-op50);
  border: 2px solid var(--point-col-op10);
  border-radius: 50px;
  transform: translateX(-50%);
}
.start-up-cost .cost-wrap03 .form-list .form-content .form-cell {
  padding: 30px 0;
  word-break: keep-all;
}

.start-up-cost .cost-wrap03 .form-list .form-content .form-cell.target {
  min-height: calc(153px - 60px);
  border-top: 2px solid var(--black-op10);
  border-bottom: 2px solid var(--black-op10);
}

.start-up-cost .cost-wrap03 .form-list .form-content .form-cell > strong {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: var(--darkgray-op50);
}

.start-up-cost
  .cost-wrap03
  .form-list
  .form-content
  .form-cell
  > strong
  > label {
  margin-top: 10px;
  padding: 3px 7px;
  display: inline-block;
  font-size: 12.8px;
  font-weight: 300;
  border-radius: 20px;
  border: 1px solid var(--black-op10);
}

.start-up-cost .cost-wrap03 .form-list .form-content .form-cell ul li {
  line-height: 1.5;
  font-size: 14px;
}

.start-up-cost .cost-wrap03 .option-area {
  margin-top: 100px;
  width: 100%;
}

.start-up-cost .cost-wrap03 .option-area .option-list ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}

.start-up-cost .cost-wrap03 .option-area .option-list ul li {
  margin-bottom: 20px;
  padding: 20px 20px;
  width: 185px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  line-height: 1.5;
  font-size: 14px;
  font-weight: bold;
  background: var(--point-col-op02);
}

.start-up-cost .cost-wrap03 .option-area .option-list ul li > img {
  width: 50%;
}

.start-up-cost .cost-wrap03 .option-area .option-list ul li span {
  color: var(--point-col-op50);
}

.start-up-cost .cost-wrap03 .option-area .option-list ul li p {
  color: var(--darkgray-op80);
}

.start-up-cost .cost-wrap03 .option-area .option-list ul li p > i {
  font-size: 12.8px;
}

.start-up-cost .cost-wrap03 .option-area .option-list ul li .evzipbob-btn {
  margin-top: 5px;
  display: inline-block;
  padding: 5px 12px;
  font-size: 14px;
  font-weight: 400;
  color: var(--white);
  background: var(--darkgray);
  border-radius: 50px;
}

/*잠깐! 아직도 VR 렌탈 쇼핑몰이 아니신가요?*/
.start-up-cost .cost-wrap04 {
  padding: 125px 0 10px;
  background: var(--darkgray);
}

.start-up-cost .cost-wrap04 .title-sub-text {
  padding: 10px 0;
  color: var(--white);
}

.start-up-cost .cost-wrap04 .title-sub-text > span {
  font-weight: bold;
  color: var(--white);
}

#platform .po-sdot:before {
  background: var(--white);
}

.start-up-cost .cost-wrap04 .title {
  padding-bottom: 30px;
  color: var(--white);
}

.start-up-cost .cost-wrap04 .title > strong {
  vertical-align: middle;
}

.start-up-cost .cost-wrap04 .title span {
  color: var(--white);
}

.start-up-cost .cost-wrap04 .title > img {
  vertical-align: middle;
  margin-right: 10px;
  width: 4.5%;
  animation: shake cubic-bezier(0.65, 0.06, 0.17, 1.01) 0.8s infinite both;
}

@keyframes shake {
  0% {
    transform: rotate(-25deg);
  }

  50% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(-25deg);
  }
}

.start-up-cost .cost-wrap04 .macbook-area {
  position: relative;
}

.start-up-cost .cost-wrap04 .macbook-area > img {
  position: relative;
  z-index: 2;
  width: 100%;
}

.start-up-cost .cost-wrap04 .iframe-site-category {
  position: absolute;
  top: -6.6%;
  left: -6.8%;
  z-index: 1;
  width: 190%;
  height: 180%;
  transform: scale(0.4) translate(-50%, -50%);
}

.start-up-cost .cost-wrap04 .sub-img-zone > img {
  width: 80%;
}

.start-up-cost .cost-wrap04 .sub-img-zone > span {
  margin-top: 20px;
  display: block;
  font-size: 15px;
  color: var(--white-op80);
}

/*vr배우기 튜토리얼*/
.start-up-tutorial {
  background: var(--darkgray);
}

.section-wrap.tutorial-wrap01 {
  padding: 100px 0;
  text-align: center;
  color: #fff;
}

.tutorial-area .po-white {
  color: #fff;
}

.tutorial-area .sub-title {
  font-weight: 600;
  font-size: 36px;
}

.tutorial-area .title-sub-text {
  padding: 10px 0 0;

  color: var(--white-op50);
}

.tutorial-menu > ul {
  margin: 30px 0;
}

.tutorial-menu > ul > li {
  display: inline-block;
  margin: 10px 10px;
  padding: 10px 25px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #fff;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
  transition: all 0.4s;
}

.tutorial-menu > ul > li:hover,
.tutorial-menu > ul > li.current {
  background-color: var(--point-col-op50);
}

.tutorial-box img.pc-ver {
  display: block !important;
}

.tutorial-box img.mobile-ver {
  display: none !important;
}

.tutorial-area i.pc-txt,
.tutorial-area li.use-pc {
  display: inline-block;
}

.tutorial-area i.mo-txt,
.tutorial-area li.use-mo {
  display: none;
}

.tutorial-area .tab-content {
  position: relative;
  display: none;
  padding: 50px 0;
}

.tutorial-area .tab-content.current {
  display: inherit;
}

.tutorial-area .slide-title {
  display: block;
  margin-bottom: 30px;
  font-size: 24px;
}

.tutorial-area .swiper-slide > .img-zone {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial-area .swiper-slide > .img-zone.flex-row {
  flex-direction: row;
}

.tutorial-area .swiper-slide > .img-zone.flex-column {
  flex-direction: column;
}

.tutorial-area .swiper-slide > .slide-content {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tutorial-area .swiper-slide > .slide-content > .img-zone {
  padding: 0 5%;
}

.tutorial-area .swiper-slide > .slide-content > .img-zone:first-child {
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}

.tutorial-box.place .other-place-btn-icon,
.tutorial-box.spot .map-icon {
  margin: 4% 2% 4% 0;
  position: relative;
  width: 70px;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(rgb(255 92 74 / 10%), rgb(255 92 74 / 30%));
  box-shadow: inset 0px 0px 10px rgb(255 71 33 / 30%),
    inset 0px 0px 20px rgb(255 136 106 / 30%),
    inset 0px 0px 30px rgb(255 123 97 / 30%), 0px 0px 30px rgb(255 92 74 / 30%),
    0px 0px 20px rgb(255 92 74 / 0%), 0px 0px 10px rgb(255 92 74 / 0%);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 100%;
  user-select: none;
  border: 3px solid rgba(255, 92, 74, 0.8);
  transform: scale(1);
  animation: btn_ani 4s infinite cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.tutorial-box.place .other-place-btn-icon > i,
.tutorial-box.spot .map-icon > i {
  width: 100%;
  text-align: center;
  font-size: 24px;
  color: #fff;
  transition: all 0.4s;
  filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.2));
}

.tutorial-box.place .other-place-btn-icon > p,
.tutorial-box.spot .map-icon > p {
  padding-top: 5px;
  font-size: 10px;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(0 0 0 / 20%);
}

@keyframes btn_ani {
  0% {
    background: radial-gradient(rgb(255 92 74 / 10%), rgb(255 92 74 / 30%));
    box-shadow: inset 0px 0px 10px rgb(255 71 33 / 30%),
      inset 0px 0px 20px rgb(255 136 106 / 30%),
      inset 0px 0px 30px rgb(255 123 97 / 30%),
      0px 0px 30px rgb(255 92 74 / 30%), 0px 0px 20px rgb(255 92 74 / 0%),
      0px 0px 10px rgb(255 92 74 / 0%);
    border: 3px solid rgba(255, 92, 74, 0.8);
    transform: scale(1);
  }

  50% {
    background: radial-gradient(rgb(255 239 237 / 40%), rgb(255 255 255 / 70%));
    box-shadow: inset 0px 0px 10px rgb(255 71 33 / 40%),
      inset 0px 0px 20px rgb(255 136 106 / 50%),
      inset 0px 0px 30px rgb(255 123 97 / 60%),
      0px 0px 30px rgb(255 92 74 / 60%), 0px 0px 20px rgb(255 92 74 / 50%),
      0px 0px 10px rgb(255 92 74 / 40%);
    border: 3px solid rgba(255, 92, 74, 1);
    transform: scale(1.2);
  }

  100% {
    background: radial-gradient(rgb(255 92 74 / 10%), rgb(255 92 74 / 30%));
    box-shadow: inset 0px 0px 10px rgb(255 71 33 / 30%),
      inset 0px 0px 20px rgb(255 136 106 / 30%),
      inset 0px 0px 30px rgb(255 123 97 / 30%),
      0px 0px 30px rgb(255 92 74 / 30%), 0px 0px 20px rgb(255 92 74 / 0%),
      0px 0px 10px rgb(255 92 74 / 0%);
    border: 3px solid rgba(255, 92, 74, 0.8);
    transform: scale(1);
  }
}

.tutorial-box img.pd-look-icon {
  min-width: 85px;
  width: 6%;
  margin: 2%;
  animation: click_ani 4s infinite cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.tutorial-box img.pd-info-popup-icon,
.tutorial-box img.pd-change-icon {
  min-width: 190px;
  width: 15%;
  margin: 2%;
  animation: fadein_ani 4s infinite ease forwards;
}

.tutorial-box img.mouse-move,
.tutorial-box img.keyboard-arrow-icon,
.tutorial-box img.keyboard-word-icon {
  width: 28%;
  animation: move_ani 5s infinite ease forwards;
}

.tutorial-box img.mouse_scroll {
  width: 38%;
  animation: go_back_ani 5s infinite ease forwards;
}

.tutorial-box img.keyboard-sc-icon {
  width: 55%;
  animation: zoomin_ani 5s infinite ease forwards;
}

.tutorial-box img.place-move-icon {
  min-width: 180px;
  width: 20%;
  margin: 2%;
  animation: fadeup_ani 4s infinite ease forwards;
}

.tutorial-box img.touch-move-icon,
.tutorial-box img.touch-zoomin-icon,
.tutorial-box img.touch-zoomout-icon {
  min-width: 50px;
  width: 6%;
  margin: 3%;
}

.tutorial-box img.touch-move-icon {
  animation: move_ani 5s infinite ease forwards;
}

.tutorial-box img.touch-zoomin-icon {
  animation: zoomin_ani 4s infinite cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.tutorial-box img.touch-zoomout-icon {
  animation: click_ani 4s infinite cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.tutorial-box .img-frame.map-icon-3d {
  position: relative;
  min-width: 95px;
  width: 11%;
  margin: 2%;
  animation: faderight_ani 4s infinite ease forwards;
}

.tutorial-box .img-frame.map-icon-3d > img {
  width: 100%;
}

.tutorial-box .img-frame::after {
  content: '\f25a';
  position: absolute;
  bottom: 24%;
  width: 58%;
  right: 15%;
  font-family: 'FontAwesome';
  font-size: 26px;
  color: #fff;
  animation: faderight_ani 4s infinite ease forwards;
}

.tutorial-box img.move-click-icon {
  min-width: 240px;
  width: 20%;
  margin: 1em 0;
  animation: click_ani 4s infinite cubic-bezier(0.23, 1, 0.32, 1) forwards;
}

.tutorial-area .swiper-slide .text-zone {
  line-height: 1.5;
  word-break: keep-all;
  font-size: 20px;
  color: var(--white-op50);
}

.tutorial-area .swiper-pagination {
  bottom: -5px;
  font-size: 20px;
  position: absolute;
  font-size: 1.2em;
}

.tutorial-area .swiper-pagination-current {
  font-size: 26px;
  font-weight: 600;
  color: #fff;
}

.tutorial-area .swiper-pagination-total {
  color: #fff;
}

.tutorial-area .swiper-button-prev:after,
.tutorial-area .swiper-button-next:after {
  color: #fff;
  font-size: 3em;
}

.tutorial-area .tutorial-text {
  padding: 50px 0;
}

.tutorial-area .tutorial-text p {
  line-height: 1.5;
  font-size: 24px;
  font-weight: 500;
  color: var(--white-op50);
}

.tutorial-area .tutorial-text p:nth-child(2) {
  font-size: 22px;
  font-weight: 300;
}

/*튜토리얼 css 끝*/

/*영업지원*/
/*빅데이터 핵심정리 렌탈창업 영업지원*/
.section-wrap.support-wrap01 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.support-wrap01 .title-sub-text {
  padding: 0 0 0 0;
}

.support-wrap01 .support-area {
  margin-top: 50px;
}

.support-wrap01 .support-list ul {
  position: relative;
}

.support-wrap01 .support-list ul::before {
  content: '';
  position: absolute;
  top: 0;
  left: -40px;
  width: 6px;
  height: 100%;
  background: var(--black-op80);
}

.support-wrap01 .support-list ul::after {
  content: '\f142';
  position: absolute;
  bottom: -45px;
  left: 50%;
  font-family: 'FontAwesome';
  font-size: 20px;
  transform: translateX(-50%);
}

.support-wrap01 .support-list ul li {
  line-height: 2;
  font-size: 26px;
}

.support-wrap01 .support-list .text {
  display: inline-block;
  margin-top: 80px;
  line-height: 1.5;
}

/*브이알로 렌탈창업 문의*/
.start-up-contact .contact-wrap01 .title img {
  margin-right: 10px;
  width: 170px;
  vertical-align: middle;
}

.start-up-contact .contact-wrap01 .title strong {
  vertical-align: middle;
}

.start-up-contact .contact-wrap01 .contact-area {
  width: 100%;
}

.start-up-contact .contact-wrap01 .contact-area > span {
  margin-top: 30px;
  display: block;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
}

.start-up-contact .contact-wrap01 .contact-form {
  margin: 80px 0 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.start-up-contact .contact-wrap01 .form-cell {
  margin-bottom: 50px;
  width: 100%;
  text-align: initial;
}

.start-up-contact .contact-wrap01 .form-cell.half-cell {
  width: 49%;
}

.start-up-contact .contact-wrap01 .form-cell > label {
  margin-bottom: 10px;
  display: block;
  font-size: 26px;
  font-weight: bold;
  color: var(--darkgray);
}

.start-up-contact .contact-wrap01 .form-cell > input[type='number'],
.start-up-contact .contact-wrap01 .form-cell > input[type='text'] {
  width: 100%;
  padding: 10px 0px;
  font-size: 20px;
  font-weight: 400;
  color: var(--darkgray);
  border-bottom: 3px solid var(--darkgray-op50);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.start-up-contact
  .contact-wrap01
  .form-cell
  > input[type='number']::placeholder,
.start-up-contact .contact-wrap01 .form-cell > input[type='text']::placeholder {
  letter-spacing: -1.5px;
  font-family: 'Spoqa Han Sans Neo', 'sans-serif';
  font-size: 20px;
  font-weight: 400;
  color: var(--darkgray-op50);
}

.start-up-contact .contact-wrap01 .privacy-agree {
  width: 100%;
  text-align: right;
}

.start-up-contact
  .contact-wrap01
  .privacy-agree
  .chk-wrap
  > input[type='checkbox'] {
  opacity: 0;
  position: absolute;
}

.start-up-contact .contact-wrap01 .privacy-agree .chk-wrap > label {
  cursor: pointer;
}

.start-up-contact
  .contact-wrap01
  .privacy-agree
  .chk-wrap
  > label
  > span:nth-child(1) {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 13px;
  background: transparent;
  border: 2px solid var(--darkgray);
  border-radius: 100%;
  vertical-align: middle;
}

.start-up-contact
  .contact-wrap01
  .privacy-agree
  .chk-wrap
  > label
  > span:nth-child(2) {
  display: inline-block;
  font-size: 14px;
  color: var(--darkgray);
  vertical-align: middle;
}

.start-up-contact
  .contact-wrap01
  .privacy-agree
  .chk-wrap
  .privacy-agree-chk
  ~ label
  > span
  svg {
  position: absolute;
  top: 1px;
  display: none;
  width: 12px;
  fill: var(--darkgray);
  stroke: var(--darkgray);
  stroke-width: 17px;
}

.start-up-contact
  .contact-wrap01
  .privacy-agree
  .chk-wrap
  .privacy-agree-chk:checked
  ~ label
  > span
  svg {
  display: block;
}

.start-up-contact .contact-wrap01 .contact-area .contact-form .btn-zone {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.start-up-contact
  .contact-wrap01
  .contact-area
  .contact-form
  .btn-zone
  .contact-btn {
  display: inline-block;
  padding: 15px 32px;
  font-size: 20px;
  line-height: 1.5;
  color: #fff;
  background: var(--darkgray);
  border-radius: 60px;
}

@media all and (max-width: 1200px) {
  .section-wrap {
    width: 90%;
  }

  .title {
    font-size: 40px;
  }

  .text {
    font-size: 30px;
  }

  .title-sub-text {
    font-size: 20px;
  }

  .start-up .start-up-wrap01 .title img,
  .start-up-contact .contact-wrap01 .title img {
    width: 130px;
  }

  .start-up .start-up-wrap03 .box-list ul {
    justify-content: space-evenly;
  }

  .start-up .start-up-wrap04 .box-list .box .box-text > strong {
    font-size: 20px;
  }

  .start-up .start-up-wrap04 .box-list.swiper-slide {
    width: 49%;
  }

  .start-up .start-up-wrap04 .box-list .box .box-img {
    width: 25%;
  }

  .start-up-cost .cost-wrap02,
  .start-up-cost .cost-wrap04 {
    width: 100%;
  }

  .start-up-cost .cost-wrap02 .merits-swiper {
    width: 90%;
  }

  .start-up-cost .cost-wrap03 .form-list {
    flex-direction: column;
    align-items: center;
  }

  .tutorial-area .sub-title {
    font-size: 30px;
  }

  .tutorial-menu > ul > li {
    font-size: 15px;
  }

  .tutorial-area .swiper-pagination-current {
    font-size: 20px;
  }

  .tutorial-area .tutorial-text p {
    font-size: 20px;
  }

  .tutorial-area .tutorial-text p:nth-child(2) {
    margin-top: 20px;
    font-size: 18px;
  }

  .support-wrap01 .support-list ul li {
    font-size: 20px;
  }

  .start-up-contact .contact-wrap01 .form-cell > label {
    font-size: 20px;
  }

  .start-up-contact .contact-wrap01 .form-cell > input[type='number'],
  .start-up-contact
    .contact-wrap01
    .form-cell
    > input[type='number']::placeholder,
  .start-up-contact .contact-wrap01 .form-cell > input[type='text'],
  .start-up-contact
    .contact-wrap01
    .form-cell
    > input[type='text']::placeholder {
    font-size: 18px;
  }
}

@media all and (max-width: 1000px) {
  .start-up .start-up-wrap04 .box-list.swiper-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .start-up .start-up-wrap04 .box-list .box .box-img {
    width: 30%;
  }

  .start-up .start-up-wrap04 .box-list .box {
    width: 430px;
  }

  .start-up .start-up-wrap04 .people-swiper .swiper-scrollbar {
    left: 50%;
    width: 160px;
    height: 3px;
    bottom: -60px;
    transform: translateX(-50%);
    border-radius: 0;
  }

  .start-up .start-up-wrap04 .people-swiper .swiper-scrollbar {
    background: var(--black-op10);
  }

  .start-up .start-up-wrap04 .people-swiper .swiper-scrollbar-drag {
    background: var(--point-col);
    border-radius: 0;
  }

  .tutorial-area i.pc-txt,
  .tutorial-area li.use-pc {
    display: none;
  }

  .tutorial-area i.mo-txt,
  .tutorial-area li.use-mo {
    display: inline-block;
  }

  #data-mouse.tab-content.current {
    display: none;
  }
}

@media (max-width: 800px) {
  .line-break-mo {
    display: block;
  }

  #platform .mo-img {
    display: block;
  }

  #platform .pc-img {
    display: none;
  }

  .title-sub-text {
    font-size: 18px;
  }

  .title {
    font-size: 35px;
  }

  .text {
    font-size: 22px;
  }

  .start-up p.text {
    margin: 20px 0;
  }

  #platform .po-sdot:before {
    height: 3px;
    width: 3px;
  }

  #platform .po-dot:before {
    height: 4px;
    width: 4px;
  }

  .start-up .start-up-wrap03 .po-rectangle {
    font-size: 18px;
  }

  .start-up .start-up-wrap04 .box-list .box .box-text > span {
    font-size: 15px;
  }
  .start-up-cost .cost-wrap03 .form-content.pro .sub-title::before {
    font-size: 12px;
  }
  .start-up-cost .cost-wrap04 .title > img {
    width: 6.5%;
  }

  .start-up-cost .cost-wrap04 .iframe-site-category {
    top: -56px;
    left: -16px;
    width: 333px;
    height: 709px;
    transform: scale(0.8);
  }

  .start-up-cost .cost-wrap04 .sub-img-zone > img {
    margin-top: 20px;
    width: 50%;
  }

  .start-up-cost .cost-wrap04 .sub-img-zone > span {
    font-size: 14px;
  }

  .tutorial-area .slide-title {
    font-size: 20px;
  }

  .tutorial-area .swiper-slide .text-zone {
    font-size: 16px;
  }

  .tutorial-area .swiper-slide > .img-zone.flex-row {
    flex-direction: column;
  }

  .tutorial-box.mobile-use .swiper-slide > .img-zone.flex-row {
    flex-direction: row;
  }

  .tutorial-box.place .other-place-btn-icon,
  .tutorial-box.spot .map-icon {
    margin: 4% 2% 4% 2%;
  }

  .tutorial-area img.pc-ver {
    display: none !important;
  }

  .tutorial-area img.mobile-ver {
    display: block !important;
  }

  .tutorial-box .img-frame.map-icon-3d {
    min-width: 195px;
  }

  .tutorial-box img.move-click-icon {
    width: auto;
    min-width: 250px;
  }

  .tutorial-box img.place-move-icon {
    min-width: 250px;
    margin: 35px;
  }

  .tutorial-box img.place-move-icon.mobile-ver {
    min-width: 250px;
    margin: 35px;
  }

  .tutorial-box img.pd-info-popup-icon.mobile-ver,
  .tutorial-box img.pd-change-icon.mobile-ver {
    min-width: 115px;
    margin: 35px;
  }

  .tutorial-menu > ul > li {
    margin: 7px 5px;
    padding: 7px 15px;
  }

  .tutorial-area .swiper-button-next,
  .tutorial-area .swiper-button-prev {
    bottom: -10px;
    top: auto;
  }

  .tutorial-area .swiper-button-next:after,
  .tutorial-area .swiper-button-prev:after {
    font-size: 25px;
  }

  .support-wrap01 .support-list ul li {
    font-size: 16px;
  }

  .start-up-contact .contact-wrap01 .form-cell.half-cell {
    width: 100%;
  }
}

@media all and (max-width: 430px) {
  .title {
    font-size: 26px;
  }

  .title-sub-text {
    font-size: 16px;
  }

  .text {
    font-size: 16px;
  }

  .start-up .start-up-wrap01 {
    padding: 200px 0 125px 0;
  }

  .start-up .start-up-wrap01 .title img,
  .start-up-contact .contact-wrap01 .title img {
    width: 90px;
  }

  .start-up .bubble-area {
    width: 100%;
  }

  .start-up .start-up-wrap03 .po-rectangle {
    font-size: 16px;
  }

  .start-up .start-up-wrap03 .box-list .box {
    width: 48%;
    height: auto;
    padding: 25px 0;
  }

  .start-up .start-up-wrap03 .box-list .box > strong {
    font-size: 15px;
  }

  .start-up .start-up-wrap03 .box-list .box > span {
    padding: 10px 0 10px;
    font-size: 14px;
  }

  .start-up .start-up-wrap04 .box-list.swiper-slide {
    width: 100%;
  }

  .start-up .start-up-wrap04 .box-list .box {
    width: auto;
  }

  .start-up .start-up-wrap04 .box-list .box .box-text > strong {
    font-size: 18px;
  }

  .start-up .start-up-wrap04 .box-list .box .box-text > strong > i {
    font-size: 12px;
  }

  .start-up .start-up-wrap04 .box-list .box .box-text > span {
    font-size: 14px;
  }

  .start-up-cost .cost-wrap03 .form-list .form-content {
    width: 100%;
    min-width: 100%;
  }

  .start-up-cost .cost-wrap03 .option-area .option-list ul li {
    padding: 20px 0;
    width: 48%;
  }

  .start-up-cost .cost-wrap03 .option-area .option-list ul li:last-child {
    width: 96%;
  }

  .start-up-cost .cost-wrap03 .option-area .option-list ul li:last-child > img {
    width: 20%;
  }

  .tutorial-area .sub-title {
    font-size: 26px;
  }

  .tutorial-box img.move-click-icon {
    width: 200px;
  }

  .tutorial-area .swiper-pagination-current,
  .tutorial-area .swiper-pagination-total {
    font-size: 16px;
  }

  .tutorial-area .tutorial-text p,
  .tutorial-area .tutorial-text p:nth-child(2) {
    font-size: 16px;
  }

  .tutorial-menu > ul {
    margin: 20px 0;
  }

  .tutorial-box.mobile-use .swiper-slide > .img-zone.flex-row {
    flex-direction: column;
  }

  .support-wrap01 .support-list {
    text-align: center;
  }

  .support-wrap01 .support-list ul::before {
    display: none;
  }

  .support-wrap01 .support-list ul li {
    font-size: 14px;
  }

  .start-up-contact .contact-wrap01 .contact-form {
    margin: 50px 0 50px;
  }

  .start-up-contact .contact-wrap01 .contact-area > span {
    font-size: 14px;
  }

  .start-up-contact .contact-wrap01 .form-cell > label {
    font-size: 16px;
  }

  .start-up-contact .contact-wrap01 .form-cell > input[type='number'],
  .start-up-contact
    .contact-wrap01
    .form-cell
    > input[type='number']::placeholder,
  .start-up-contact .contact-wrap01 .form-cell > input[type='text'],
  .start-up-contact
    .contact-wrap01
    .form-cell
    > input[type='text']::placeholder {
    font-size: 16px;
  }

  .start-up-contact
    .contact-wrap01
    .contact-area
    .contact-form
    .btn-zone
    .contact-btn {
    font-size: 18px;
  }
}

@keyframes click_ani {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomin_ani {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes fadeup_ani {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  90% {
    opacity: 1;
    transform: translateY(0px);
  }

  100% {
    opacity: 0;
    transform: translateY(0px);
  }
}

@keyframes fadein_ani {
  0% {
    opacity: 0;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes faderight_ani {
  0% {
    opacity: 0;
    transform: translateX(30px);
  }

  90% {
    opacity: 1;
    transform: translateX(0px);
  }

  100% {
    opacity: 0;
    transform: translateX(0px);
  }
}

@keyframes move_ani {
  0% {
    transform: translateX(0px);
  }

  13% {
    transform: translateX(-20px);
  }

  28% {
    transform: translateX(0px);
  }

  43% {
    transform: translateY(-20px);
  }

  58% {
    transform: translateY(0px);
  }

  73% {
    transform: translateX(20px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes go_back_ani {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(0px);
  }
}
